<ion-header>
<ion-toolbar>
    <ion-title>Zasady gry</ion-title>
</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding" style = "text-align: center;">
<h1>Gra polega na wyszukiwaniu oraz przechodzeniu do kolejnych czerownych punktów na mapie i rozwiązaniu zadań<br><br></h1>
<p>W grze musimy dotrzeć zgodnie ze wskazówkami do punktu z zadaniem, które symbolizuje czerwony znacznik. Niebieski zaś, to lokazlizacja gracza. <br></p>
<p>
    <img src="./assets/ss1.png">
    Niebieskie kółko symbolizuje dokładność lokazliacji gracza.
</p>
<p>
    <img src="./assets/ss2.png">
    Po kliknięciu na czerwony znacznik wyśiwetli się nam informacja o wskazówkach, jak dotrzeć do punktu z zadaniem.
</p>
<br>
<h1>
    Informacje
</h1>
<p>
    <img src="./assets/info.png">
    Przycisk<img style="width: 30px;" src="./assets/info_icon.png">pozwoli na wyśrodkowanie mapy do lokalizacji gracza.
</p>
</ion-content>

