<ion-content>
  <ion-list class = "list">
    <ion-item>
      Koło dokładności
      <ion-toggle slot="end" click ="toogleAccuracy()" [checked]="true" ></ion-toggle>
  </ion-item>
  <ion-item>
    Podążanie za graczem
    <ion-toggle slot="end" [checked]="true"></ion-toggle>
</ion-item>
    <ion-item>
        Szerokość
      <ion-badge color="danger" slot="end">{{latitude}}</ion-badge>
    </ion-item>
    <ion-item>
        Długość
      <ion-badge color="danger" slot="end">{{longitude}}</ion-badge>
    </ion-item>
    <ion-item>
        Dokładność (m)
      <ion-badge color="danger" slot="end">{{accuracy}}</ion-badge>
    </ion-item>
    </ion-list>    
</ion-content>
<ion-button class = "lokalizuj" (click)="getCurrentCoordinates()">
  Odśwież
  <ion-icon name="compass-outline"></ion-icon>
</ion-button>
